* {
  @include reset();
}
.container {
  @include flex();
  @include dim($w:$containerDefaultWidth,$mar:0 auto);  
}

li {
    list-style: none;
}
a {
  text-decoration: none;
}
#app {
  min-width: 990px;
}