* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 80%;
  margin: 0 auto;
}

li {
    list-style: none;
}
a {
  text-decoration: none;
  &:visited {
    color: #01407c;
  }
}