* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 980px;
}
#container {
  width: 80%;
  margin: 0 auto;
}

li {
    list-style: none;
}
a {
  text-decoration: none;
  &:visited {
    color: #01407c;
  }
}

#app {
  width: 100vw;
  height: 100%;
}