@mixin flex ($ali:null,$dir:row,$jus:null,$gap:0.5rem,$wra:nowrap,$bas:null) {
    display: flex;
    justify-content: $jus;
    flex-direction: $dir;
    align-items: $ali;
    flex-wrap: $wra;
    gap: $gap;
    flex-basis:$bas;
}
@mixin dim($h:null,$w:null,$pad:0,$mar:0) {
    height: $h;
    width: $w;
    padding: $pad;
    margin:$mar;
}
@mixin reset() {
    @include dim();
    box-sizing: border-box;
}
@mixin text ($siz: 100%,$tra:null,$col:null,$wei:500,$ali:null,$dec:null) {
    color: $col;
    font-size: $siz;
    text-transform: $tra;
    font-weight: $wei;
    text-align: $ali;
    text-decoration: $dec;
}
@mixin bgSet ($url:null,$col:null,$pos:null,$siz:cover,$rep:no-repeat) {
    background-image: url($url);
    background-color: $col;
    background-position: $pos;
    background-size: $siz;
    background-repeat: $rep;
}