// common
$containerDefaultWidth:70%;
// HEADER
$headerHeight: 100px;
$headerBgColor: white;
$headerLogoDim:70px;
$headerActiveLinkColor: #0282f9;
$headerActiveLinkBorderDim: 5%;
// MAIN
// Jumbo
$jumboHeight: 300px;
// .cards-container
$cardsBgColor: #25383f;
$cardWidth: calc((100% / 6) - 1rem);
// Card
$cardDim:170px;
// Menu
$mainMenuImgHeight: 70px;
// FOOTER
// #footer-bar
$footerBarBgColor: #181818;
$footerBarHeight: 110px;
$footerBarTextColor: #0282f9;